.App {
  text-align: center;
  color: whitesmoke;
  margin: 0px 200px 0px 200px;
}

.body {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.body input + input {
  margin-left: 20px;
}

.body span + input {
  margin-left: 20px;
}

.result {
  padding-top: 40px;
}

.first-input + .second-input {
  margin-left: 60px;
}

.second-input + button {
  margin-left: 60px;
}

button + button {
  margin-left: 10px;
}

/* Hide arrows in input type='number' in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows in input type='number' in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
